In [1]:
import pandas as pd
import time
from finta import TA
import numpy as np
import pandas as pd
import datetime as dt
import yfinance as yf
import datetime as dt
import copy
import json
from py5paisa import FivePaisaClient
import telepot

client = FivePaisaClient(email="sudhanshu8833@gmail.com", passwd="Madhya246###", dob="20010626")
client.login()

 22:47:39 | Logged in!!

In [2]:
def candle(instrument):
    df=client.historical_data('N','C',instrument,'1d','2021-06-20','2021-07-26')
    return df

In [20]:
candle(48)

              Datetime     Open     High      Low    Close    Volume
0  2021-06-21T09:15:00   884.80   926.10   880.00   918.10   1854382
1  2021-06-22T09:15:00   929.65   929.65   913.50   915.00    910719
2  2021-06-23T09:15:00   923.35   924.80   905.00   910.45    705128
3  2021-06-24T09:15:00   913.25   939.00   907.05   923.00   2218610
4  2021-06-25T09:15:00   930.00   958.95   927.65   943.00   4177564
5  2021-06-28T09:15:00   952.75   964.60   945.50   952.90   1703706
6  2021-06-29T09:15:00   951.85   957.55   941.75   950.05   1203920
7  2021-06-30T09:15:00   956.00  1019.95   952.50  1019.80   8490267
8  2021-07-01T09:15:00  1032.30  1193.00  1032.30  1174.00  19302711

In [3]:
df=pd.read_csv(r'opg.csv')

In [4]:
df

,Unnamed: 0,price_in,time_in,type,price_out,time_out,stocks,open,profit
0,477,108.95,2021-07-01 03:45:04,long,115.00,2021-07-01 03:45:38,477,116.05,5.553006
1,9683,265.60,2021-07-01 03:45:12,short,270.40,2021-07-01 04:13:45,9683,252.50,-1.775148
2,11155,186.95,2021-07-01 03:45:12,short,186.95,2021-07-01 05:45:03,11155,178.05,0.000000
3,11860,218.60,2021-07-01 03:45:14,short,224.40,2021-07-01 03:51:51,11860,203.20,-2.584670
4,12489,280.65,2021-07-01 03:45:14,short,273.70,2021-07-01 03:58:06,12489,270.35,2.539277
5,14134,142.10,2021-07-01 03:45:15,short,139.60,2021-07-01 03:48:00,14134,138.20,1.790831
6,14296,293.70,2021-07-01 03:45:15,long,292.30,2021-07-01 05:45:03,14296,312.60,-0.476677
7,14435,140.35,2021-07-01 03:45:16,short,140.10,2021-07-01 05:45:03,14435,137.00,0.178444
8,14582,348.95,2021-07-01 03:45:16,long,337.35,2021-07-01 03:46:25,14582,365.40,-3.324258
9,17641,302.35,2021-07-01 03:45:17,short,299.70,2021-07-01 05:45:03,17641,297.00,0.884218
10,25584,126.25,2021-07-01 03:45:19,short,123.85,2021-07-01 05:36:45,25584,125.75,1.937828
11,17424,698.00,2021-07-01 03:45:20,short,680.10,2021-07-01 03:48:02,17424,605.70,2.631966
12,48,1039.15,2021-07-01 03:45:20,short,1059.00,2021-07-01 05:45:03,48,995.90,-1.874410

In [18]:
df=yf.download('GLOBUSSPR.NS',dt.datetime.today()-dt.timedelta(30),dt.datetime.today())

[*********************100%***********************]  1 of 1 completed

In [19]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-02,320.899994,326.950012,319.000000,323.299988,323.299988,278601
2021-06-03,326.000000,337.500000,323.450012,334.399994,334.399994,325478
2021-06-04,337.850006,359.950012,335.000000,351.700012,351.700012,1642567
2021-06-07,358.700012,369.500000,355.100006,360.600006,360.600006,1084293
2021-06-08,365.000000,375.000000,357.149994,368.549988,368.549988,807306
2021-06-09,370.799988,376.700012,352.000000,359.299988,359.299988,675765
2021-06-10,368.000000,371.750000,362.799988,368.399994,368.399994,392470
2021-06-11,375.000000,393.750000,368.399994,389.700012,389.700012,1594277
2021-06-14,391.950012,410.000000,378.299988,404.700012,404.700012,2784443
2021-06-15,423.000000,449.000000,418.000000,423.200012,423.200012,2690227
2021-06-16,424.899994,459.799988,408.000000,442.200012,442.200012,3210946
2021-06-17,444.799988,530.599976,437.299988,530.599976,530.599976,5544580
2021-06-18,556.400024,583.650024,541.400024,583.650024,583.650024,4930782
2021-06-21,575.000000,633.900024,531.250000,595.349976,595.349976,3790411
2021-06-22,605.000000,626.900024,581.750000,589.750000,589.750000,1285856
2021-06-23,604.849976,604.849976,567.000000,580.700012,580.700012,240357
2021-06-24,584.000000,590.000000,560.250000,573.799988,573.799988,217356
2021-06-25,585.000000,600.000000,570.000000,585.849976,585.849976,149634
2021-06-28,591.000000,615.099976,591.000000,615.099976,615.099976,300046
2021-06-29,645.000000,645.849976,631.000000,645.849976,645.849976,90638
2021-06-30,678.099976,678.099976,678.099976,678.099976,678.099976,56807
2021-07-01,712.000000,712.000000,658.000000,712.000000,712.000000,579999
2021-07-02,736.000000,747.599976,730.250000,747.599976,747.599976,105914

In [5]:
OPEN=[]
for i in range(len(df)):
    ohlc_dict=candle(int(df['stocks'][i]))['Open'].iloc[-1]
    OPEN.append(ohlc_dict)

In [6]:
OPEN

[117.85,
 264.45,
 186.95,
 217.45,
 278.0,
 140.75,
 293.7,
 139.8,
 348.95,
 303.0,
 125.8,
 607.9,
 1032.3]

In [7]:
df['OPEN']=np.array(OPEN)

In [8]:
df

,Unnamed: 0,price_in,time_in,type,price_out,time_out,stocks,open,profit,OPEN
0,477,108.95,2021-07-01 03:45:04,long,115.00,2021-07-01 03:45:38,477,116.05,5.553006,117.85
1,9683,265.60,2021-07-01 03:45:12,short,270.40,2021-07-01 04:13:45,9683,252.50,-1.775148,264.45
2,11155,186.95,2021-07-01 03:45:12,short,186.95,2021-07-01 05:45:03,11155,178.05,0.000000,186.95
3,11860,218.60,2021-07-01 03:45:14,short,224.40,2021-07-01 03:51:51,11860,203.20,-2.584670,217.45
4,12489,280.65,2021-07-01 03:45:14,short,273.70,2021-07-01 03:58:06,12489,270.35,2.539277,278.00
5,14134,142.10,2021-07-01 03:45:15,short,139.60,2021-07-01 03:48:00,14134,138.20,1.790831,140.75
6,14296,293.70,2021-07-01 03:45:15,long,292.30,2021-07-01 05:45:03,14296,312.60,-0.476677,293.70
7,14435,140.35,2021-07-01 03:45:16,short,140.10,2021-07-01 05:45:03,14435,137.00,0.178444,139.80
8,14582,348.95,2021-07-01 03:45:16,long,337.35,2021-07-01 03:46:25,14582,365.40,-3.324258,348.95
9,17641,302.35,2021-07-01 03:45:17,short,299.70,2021-07-01 05:45:03,17641,297.00,0.884218,303.00
10,25584,126.25,2021-07-01 03:45:19,short,123.85,2021-07-01 05:36:45,25584,125.75,1.937828,125.80
11,17424,698.00,2021-07-01 03:45:20,short,680.10,2021-07-01 03:48:02,17424,605.70,2.631966,607.90
12,48,1039.15,2021-07-01 03:45:20,short,1059.00,2021-07-01 05:45:03,48,995.90,-1.874410,1032.30

In [3]:
import telepot
bot = telepot.Bot('1715056219:AAGxytb3U1gIt1vlVn8Jf5b4za3E1HPuOd4')
bot.getMe()


bot.sendMessage(1039725953, time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time())))

{'message_id': 10,
 'from': {'id': 1715056219,
  'is_bot': True,
  'first_name': 'trading bot',
  'username': 'trading_112_bot'},
 'chat': {'id': 1039725953, 'first_name': 'sudhanshu', 'type': 'private'},
 'date': 1626283292,
 'text': '2021-07-14 22:51:31'}