In [2]:
import requests
#import json
import dirtyjson

url = 'https://nseindia.com/corporates/corpInfo/equities/getAnnouncements.jsp?period=Latest%20Announced'

r = requests.get(url)
#data = r.json() # doesn't work because JSON data has some mistakes

#text = r.text.strip()
#print(text)
#data = json.loads(text) # doesn't work because JSON data has some mistakes

data = dirtyjson.loads(r.text)
#print(data)

for item in data['rows']:
    #print(item)
    print(item.keys())
    print(item['sym'])
    print(item['desc'])
    print(item['name'])
    print(item['date'][:2], item['date'][2:4], item['date'][4:8])

In [1]:
import yfinance as yf
import datetime as dt

data=yf.download('INFY.NS',period='10d',interval='5m')

[*********************100%***********************]  1 of 1 completed

In [2]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-07-07 09:15:00+05:30,1567.750000,1567.750000,1557.000000,1557.699951,1557.699951,124853
2021-07-07 09:20:00+05:30,1556.500000,1557.599976,1554.099976,1555.550049,1555.550049,293530
2021-07-07 09:25:00+05:30,1555.550049,1567.150024,1555.550049,1567.050049,1567.050049,192708
2021-07-07 09:30:00+05:30,1567.000000,1567.849976,1565.050049,1565.199951,1565.199951,140728
2021-07-07 09:35:00+05:30,1565.199951,1565.199951,1553.050049,1558.699951,1558.699951,343860
...,...,...,...,...,...,...
2021-07-20 15:05:00+05:30,1552.550049,1552.550049,1550.750000,1551.150024,1551.150024,181798
2021-07-20 15:10:00+05:30,1551.150024,1551.599976,1550.050049,1550.599976,1550.599976,220508
2021-07-20 15:15:00+05:30,1550.550049,1550.550049,1546.849976,1547.949951,1547.949951,220214
2021-07-20 15:20:00+05:30,1547.949951,1548.949951,1546.550049,1548.849976,1548.849976,163260
2021-07-20 15:25:00+05:30,1548.800049,1549.800049,1547.000000,1548.199951,1548.199951,161528