123

In [7]:
df=yf.download("MSFT",period="1mo",interval='1h')

[*********************100%***********************]  1 of 1 completed

In [8]:
df.to_csv("opg.csv")

In [9]:

bot.sendDocument(1039725953, document=open('opg.csv', 'rb'))

{'message_id': 2,
 'from': {'id': 1946014673,
  'is_bot': True,
  'first_name': 'opg_bot',
  'username': 'opg_123_bot'},
 'chat': {'id': 1039725953,
  'first_name': 'sudhanshu',
  'username': 'Sudhanshu_883',
  'type': 'private'},
 'date': 1628446254,
 'document': {'file_name': 'opg.csv',
  'mime_type': 'text/csv',
  'file_id': 'BQACAgUAAxkDAAMCYRAeLqtRN2Kkc5_YAAGwg4w0s1VtAAImAgACxLqAVAUjHuWlRz5yIAQ',
  'file_unique_id': 'AgADJgIAAsS6gFQ',
  'file_size': 19820}}

In [6]:
import yfinance as yf
df=yf.download("INFY.NS", period="1mo", interval="15m")

[*********************100%***********************]  1 of 1 completed

In [7]:
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-07-09 10:30:00+05:30,1564.500000,1569.900024,1563.650024,1568.500000,1568.500000,210520
2021-07-09 10:45:00+05:30,1568.500000,1568.599976,1564.150024,1564.500000,1564.500000,143752
2021-07-09 11:00:00+05:30,1564.500000,1566.500000,1563.650024,1564.199951,1564.199951,118464
2021-07-09 11:15:00+05:30,1564.199951,1564.199951,1561.699951,1562.300049,1562.300049,136342
2021-07-09 11:30:00+05:30,1562.300049,1562.349976,1556.099976,1559.000000,1559.000000,289554
...,...,...,...,...,...,...
2021-08-09 09:45:00+05:30,1656.949951,1657.849976,1653.000000,1653.050049,1653.050049,106137
2021-08-09 10:00:00+05:30,1653.000000,1657.250000,1652.250000,1655.500000,1655.500000,82433
2021-08-09 10:15:00+05:30,1655.449951,1656.099976,1653.000000,1655.150024,1655.150024,112065
2021-08-09 10:30:00+05:30,1655.050049,1655.150024,1652.550049,1652.550049,1652.550049,5725
2021-08-09 10:31:40+05:30,1653.300049,1653.300049,1653.300049,1653.300049,1653.300049,0