In [5]:
import pandas as pd
import time
import yfinance as yf
from finta import TA
import numpy as np
import pandas as pd
import datetime as dt
import copy
import json
from py5paisa import FivePaisaClient
import datetime as dt

client = FivePaisaClient(email="sudhanshu8833@gmail.com", passwd="Madhya246###", dob="20010626")
client.login()

 15:07:48 | Logged in!!

In [14]:
df=yf.download('GSFC.NS',dt.datetime.today()-dt.timedelta(20),dt.datetime.today(),interval='15m')

[*********************100%***********************]  1 of 1 completed

In [15]:
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-06-11 15:00:00+05:30,116.699997,116.900002,116.699997,116.900002,116.900002,0
2021-06-11 15:15:00+05:30,116.849998,116.900002,116.550003,116.650002,116.650002,284522
2021-06-14 09:15:00+05:30,116.849998,117.000000,113.800003,113.949997,113.949997,115239
2021-06-14 09:30:00+05:30,114.000000,115.349998,113.250000,115.099998,115.099998,154022
2021-06-14 09:45:00+05:30,114.949997,115.500000,114.550003,115.500000,115.500000,98525
...,...,...,...,...,...,...
2021-07-01 14:15:00+05:30,116.000000,116.199997,116.000000,116.099998,116.099998,13154
2021-07-01 14:30:00+05:30,116.150002,116.150002,115.800003,115.949997,115.949997,21678
2021-07-01 14:45:00+05:30,115.900002,116.550003,115.800003,116.300003,116.300003,58952
2021-07-01 15:00:00+05:30,116.599998,116.949997,116.500000,116.750000,116.750000,105140
2021-07-01 15:11:55+05:30,116.849998,116.849998,116.849998,116.849998,116.849998,0

In [1]:
var='high'

var2=var+'hello'

In [2]:
var2

'highhello'