In [1]:

import pandas as pd
import time
from finta import TA
from smartapi import SmartWebSocket
import numpy as np
import pandas as pd
import yfinance as yf
from alpha_vantage.timeseries import TimeSeries
import datetime as dt
import copy
import json
from smartapi import SmartConnect

In [2]:
from smartapi import SmartConnect 
obj=SmartConnect(api_key="iJ3YYOXH")
data = obj.generateSession("S776051","Madhya246###")
refreshToken= data['data']['refreshToken']
feedToken=obj.getfeedToken()
userProfile= obj.getProfile(refreshToken)

In [3]:
from smartapi import SmartWebSocket
FEED_TOKEN= feedToken
tickers=["227182","221599"]
CLIENT_CODE="S776051"
token="mcx_fo|226745&mcx_fo|220822&mcx_fo|227182&mcx_fo|221599" #"nse_cm|2885&nse_cm|1594&nse_cm|11536"
task="mw" #"mw"|"sfi"|"dp"
ss =SmartWebSocket(FEED_TOKEN, CLIENT_CODE)

In [4]:



ltp=0


for ticker in tickers:

    def on_message(ws, message):
        global ltp,ticker
        data=format(message)
        # print(data)
        data=data.replace("'",'"')
        data=json.loads(data)
        if data[0]["tk"]==ticker:
            ltp=data[0]['ltp']
            ws.close()
        # print("hello")

    def on_open(ws):
        print("on open")
        ss.subscribe(task,token)
        
    def on_error(ws, error):
        print(error)
        
    def on_close(ws):
        print("Close")

    # Assign the callbacks.
    ss._on_open = on_open
    ss._on_message = on_message
    ss._on_error = on_error
    ss._on_close = on_close

    ss.connect()
    print(ltp)

__on_open################
{'task': 'cn', 'channel': 'NONLM', 'token': '0945164670', 'user': 'S776051', 'acctid': 'S776051'}
2021-06-22 18:23:55.952517 : Start task in the background
{'task': 'hb', 'channel': '', 'token': '0945164670', 'user': 'S776051', 'acctid': 'S776051'}
on open
232.30
__on_open################
{'task': 'cn', 'channel': 'NONLM', 'token': '0945164670', 'user': 'S776051', 'acctid': 'S776051'}
2021-06-22 18:23:57.634592 : Start task in the background
{'task': 'hb', 'channel': '', 'token': '0945164670', 'user': 'S776051', 'acctid': 'S776051'}
on open
67639.00

In [4]:
tickers=["221599","220822","226745"]
def candle(instrument):
    ohlc_intraday=pd.DataFrame()

    historicParam={
    "exchange": "NSE",
    "symboltoken": instrument,
    "interval": "FIVE_MINUTE",
    "fromdate": "2021-04-08 09:15", 
    "todate": "2021-06-15 09:30"
    }

    data=obj.getCandleData(historicParam)

    data=pd.DataFrame(data)["data"]
    open=[]
    close=[]
    high=[]
    low=[]
    volume=[]
    index=[]

    for i in range(len(data)):
        open.append(data[i][1])

    for i in range(len(data)):
        close.append(data[i][4])

    for i in range(len(data)):
        high.append(data[i][2])

    for i in range(len(data)):
        low.append(data[i][3])

    for i in range(len(data)):
        index.append(data[i][0])

    for i in range(len(data)):
        volume.append(data[i][5])


    ohlc_intraday["Index"]=np.array(index)
    ohlc_intraday["Open"]=np.array(open)
    ohlc_intraday["High"]=np.array(high)
    ohlc_intraday["Low"]=np.array(low)

    ohlc_intraday["Close"]=np.array(close)
    ohlc_intraday["Volume"]=np.array(volume)
    ohlc_intraday.set_index("Index",inplace=True)

    return ohlc_intraday

In [6]:
candle("11032")

                            Open   High    Low  Close  Volume
Index
2021-04-08T09:15:00+05:30  24.30  24.30  24.30  24.30   12342
2021-04-08T09:20:00+05:30  24.30  24.30  24.30  24.30    2861
2021-04-08T09:25:00+05:30  24.30  24.30  24.30  24.30    1000
2021-04-08T09:30:00+05:30  24.30  24.30  24.30  24.30     200
2021-04-08T09:35:00+05:30  24.30  24.30  24.30  24.30    3220
...                          ...    ...    ...    ...     ...
2021-06-14T15:25:00+05:30  23.30  23.55  23.30  23.40     823
2021-06-15T09:15:00+05:30  23.90  23.90  23.00  23.50    1348
2021-06-15T09:20:00+05:30  23.45  23.45  23.35  23.35     251
2021-06-15T09:25:00+05:30  23.35  23.35  23.35  23.35     110
2021-06-15T09:30:00+05:30  23.35  23.35  23.20  23.25    1153

[2284 rows x 5 columns]