In [2]:
from finta import TA

import yfinance as yf
import numpy as np
import pandas as pd
import yfinance as yf
from alpha_vantage.timeseries import TimeSeries
import datetime as dt
import copy
import matplotlib.pyplot as plt
import time

In [3]:
tickers=["^NSEBANK"]

In [4]:
ohlc_intraday={}

In [5]:
for ticker in tickers:
    ohlc_intraday[ticker]=yf.download("^NSEBANK",dt.datetime.today()-dt.timedelta(30),dt.datetime.today(),interval="5m")

[*********************100%***********************]  1 of 1 completed

In [6]:
ohlc_dict=copy.deepcopy(ohlc_intraday)

In [7]:
ohlc_dict["^NSEBANK"]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-10 13:20:00+05:30,33125.500000,33151.601562,33119.648438,33138.601562,33138.601562,0
2021-05-10 13:25:00+05:30,33137.898438,33168.199219,33137.898438,33157.601562,33157.601562,0
2021-05-10 13:30:00+05:30,33157.648438,33180.898438,33144.800781,33170.050781,33170.050781,0
2021-05-10 13:35:00+05:30,33168.000000,33187.050781,33143.300781,33148.300781,33148.300781,0
2021-05-10 13:40:00+05:30,33148.300781,33177.351562,33142.300781,33171.449219,33171.449219,0
...,...,...,...,...,...,...
2021-06-09 13:05:00+05:30,35234.300781,35237.300781,35136.449219,35139.949219,35139.949219,0
2021-06-09 13:10:00+05:30,35141.851562,35156.699219,34890.500000,34903.199219,34903.199219,0
2021-06-09 13:15:00+05:30,34907.000000,34946.699219,34644.550781,34877.800781,34877.800781,0
2021-06-09 13:20:00+05:30,34873.148438,34873.148438,34817.000000,34853.449219,34853.449219,0
2021-06-09 13:21:31+05:30,34836.851562,34836.851562,34836.851562,34836.851562,34836.851562,0

In [8]:
tickers_signal = {}
ticker_ret = {}

In [15]:
ohlc_pk=ohlc_dict["^NSEBANK"].iloc[:,[0,1,2,4,5]]

,Open,High,Low,Adj Close,Volume
Datetime,,,,,
2021-05-10 13:20:00+05:30,33125.500000,33151.601562,33119.648438,33138.601562,0
2021-05-10 13:25:00+05:30,33137.898438,33168.199219,33137.898438,33157.601562,0
2021-05-10 13:30:00+05:30,33157.648438,33180.898438,33144.800781,33170.050781,0
2021-05-10 13:35:00+05:30,33168.000000,33187.050781,33143.300781,33148.300781,0
2021-05-10 13:40:00+05:30,33148.300781,33177.351562,33142.300781,33171.449219,0
...,...,...,...,...,...
2021-06-09 13:05:00+05:30,35234.300781,35237.300781,35136.449219,35139.949219,0
2021-06-09 13:10:00+05:30,35141.851562,35156.699219,34890.500000,34903.199219,0
2021-06-09 13:15:00+05:30,34907.000000,34946.699219,34644.550781,34877.800781,0
2021-06-09 13:20:00+05:30,34873.148438,34873.148438,34817.000000,34853.449219,0
2021-06-09 13:21:31+05:30,34836.851562,34836.851562,34836.851562,34836.851562,0

In [ ]:
ohlc_pk.columns

In [16]:
for ticker in tickers:
    ohlc_dict[ticker]=ohlc_dict[ticker].iloc[:,[0,1,2,4,5]]
    ohlc_dict[ticker].columns=["open","high","low","close","volume"]
    ohlc_dict[ticker]["fisher"]=TA.FISH(ohlc_dict[ticker],10)
    ohlc_dict[ticker]["RSI"]=TA.RSI(ohlc_dict[ticker],14)
    ohlc_dict[ticker]["MACD"]=TA.MACD(ohlc_dict[ticker],26,12,9)
    ohlc_dict[ticker]["avg volume"]=ohlc_dict[ticker]["Volume"].rolling(20).mean()
    ohlc_dict[ticker].dropna(inplace=True)
    ticker_ret[ticker] = []

In [ ]:
ohlc_dict["^NSEBANK"]["rsi"]=ta.momentum.rsi(ohlc_dict["^NSEBANK"]["close"],window=14,fillna=False)

In [ ]:
ohlc_dict["^NSEBANK"]["rsi"]=TA.RSI(ohlc_dict["^NSEBANK"],14)

In [ ]:
ohlc_dict["^NSEBANK"]

In [ ]:
ohlc_dict["^NSEBANK"]["MACD"]=TA.MACD( ohlc_dict["^NSEBANK"]["Close"],12,26,9,"Close")
        # period_fast: int = 12,
        # period_slow: int = 26,
        # signal: int = 9,
        # column: str = "close",)